@import 'node_modules/bootstrap/scss/bootstrap.scss';
//$fa-font-path: "node_modules/font-awesome/fonts";
//@import 'node_modules/font-awesome/scss/font-awesome.scss';

.nav-link {
	color: #007bff;

	&:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    &.active {
        font-weight: bold;
        font-size: 120%;
    }
}

.ellipsis {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}
